@media (min-width: 1000px){
  body{
    height: 100vh;
  }
  .card{
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
  }
  main{
    justify-content: space-around;
    height: 400px;
  }
  .card__img{
    position: relative;
    flex-basis: 50%;
    margin-left: 60px;
    height: 400px;
    background: url("/challenge2/images/image-header-desktop.jpg") no-repeat center;
    background-size: cover;
    border-radius: 0 5px 5px 0;
  }
  
  .card__main h1{
    margin-bottom: 50px;
  }
  .card__footer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    }
}