:root{
  --bright-orange:hsl(31,77%,52%);
  --dark-cyan:hsl(184,100%,22%);
  --very-dark-cyan:hsl(179,100%,13%);
  --transparent-white:hsla(0,0%,100%,0.75);
  --very-light-gray:hsl(0,0%,95%);
}
html{
  font-size: 62.5%;
}
.main__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: stretch;
  font-family: 'Lexend Deca';
  color: var(--very-light-gray);
}
.card__container{
  display: flex;
  justify-content: center;
  min-width: 320px;
}
.card__content--container{
  width: 70%;
  padding: 50px;
}
.card__content--container h2{
  font-family: 'Big Shoulders Display';
  font-size: 3.5rem;
  font-weight: 700;
}
.card__content--container p{
  margin-bottom: 80px;
  height: 85px;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--transparent-white);
}
.card__content--container a{
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: var(--very-light-gray);
  border-radius: 25px;
  text-decoration: none;
}
.card__button:hover{
  color: var(--very-light-gray);
  border: 2px solid var(--very-light-gray);
}
.sedans{
  background-color: var(--bright-orange);
}
.sedans span{
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("/challenge3/images/icon-sedans.svg") no-repeat center/contain;
}
.sedans a{
  color: var(--bright-orange);
}
.sedans a:hover{
  background-color: var(--bright-orange);
}
.suvs{
  background-color: var(--dark-cyan);
}
.suvs span{
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("/challenge3/images/icon-suvs.svg") no-repeat center/contain;
}
.suvs a{
  color: var(--dark-cyan);
}
.suvs a:hover{
  background-color: var(--dark-cyan);
}
.luxury{
  background-color: var(--very-dark-cyan);
}
.luxury span{
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url("/challenge3/images/icon-luxury.svg") no-repeat center/contain;
}
.luxury a{
  color: var(--very-dark-cyan);
}
.luxury a:hover{
  background-color: var(--very-dark-cyan);
}