@media (max-width: 960px){
  .main__container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 630px){
  .main__container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}