:root{
  --very-dark-blue:hsl(233, 47%, 7%);
  --dark-desaturated-blue:hsl(244, 38%, 16%);
  --soft-violet:hsl(277, 64%, 61%);
  --transparent-white:hsla(0, 0%, 100%, 0.75);
  --transparent-gray:hsla(0, 0%, 100%, 0.6);
}
html{
  font-size: 62.5%;
}
body{
  background-color: var(--very-dark-blue);
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 360px;
  font-family: 'Inter';
  font-size: 1.5rem;
  color: #fff;
  background-color: var(--dark-desaturated-blue);
  border-radius: 5px;
}
header{
  width: 100%;
  height: 270px;
  background-color: var(--soft-violet);
  border-radius: 5px 5px 0 0;
}
.card__img--container{
  width: 100%;
  height: 270px;
  background:url("/stats-preview-card-component-main/images/image-header-mobile.jpg") no-repeat center;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  opacity: 0.5;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__main{
  width: 80%;
  margin: 20px 0;
  text-align: center;
  line-height: 2.7rem;
}
.card__main span{
  color: var(--soft-violet);
}
.card__main p{
  color: var(--transparent-white);
}
.card__footer p{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}
.card__footer p span{
  font-size: 1.3rem;
  font-weight: 400;
  font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
  color: var(--transparent-gray);
}